.jumbotron {
    background-color: #1B7D7A;
    color: wheat;
    margin-top: 50px;
}

.btnselec {
    color: wheat;
    width: 100%;
    border-radius: 0px;
    background-color: #1B7D7A;
}

.btnc {
    background-color: #1B7D7A;
    width: 100%;
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

footer {
    color: wheat;
    padding: 10px 10px 0 10px;
    background-color: #1B7D7A;
    margin-bottom: 0px;
    text-align: center;
}

footer a {
    color: wheat;
}

.footer-address-icon {
    padding-right: 10px;
}

.thead {
    background-color: #1B7D7A;
    color: wheat;
}

.table {
    text-align: center;
}

.oi-star {
    color: rgb(231, 231, 0);
    border-color: black;
    border: 10px;
}

.cld {
    text-align: start;
}

.tab-content {
    margin-top: 10px;
}

.navcolor {
    background-color: #1B7D7A;
    color: wheat;
}