.jumbotron {
  background-color: #1B7D7A;
  color: #f5deb3;
  margin-top: 50px;
  margin-bottom: 15px; }

.btnselec {
  color: #f5deb3;
  width: 100%;
  border-radius: 0px;
  background-color: #1B7D7A; }

.btnc {
  background-color: #1B7D7A;
  width: 100%; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

footer {
  color: #f5deb3;
  padding: 10px 10px 0 10px;
  background-color: #1B7D7A;
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center; }

footer a {
  color: #f5deb3; }

.footer-address-icon {
  padding-right: 10px; }

.thead {
  background-color: #1B7D7A;
  color: #f5deb3; }

.table {
  text-align: center; }

.oi-star {
  color: #eeff00;
  border: 10px; }

.cld {
  text-align: start; }

.tab-content {
  margin-top: 10px; }

.navcolor {
  background-color: #1B7D7A;
  color: #f5deb3; }
