$green: #1B7D7A;
$letters: #f5deb3;
$star: #eeff00;
@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $green;
    color: $letters;
    @include margenes(50px, 15px);
}

.btnselec {
    color: $letters;
    width: 100%;
    border-radius: 0px;
    background-color: $green;
}

.btnc {
    background-color: $green;
    width: 100%;
}

.card-hotel {
    flex: 1 200px;
    @include margenes(10px, 0px);
}

footer {
    color: $letters;
    padding: 10px 10px 0 10px;
    background-color: $green;
    @include margenes(10px, 0px);
    text-align: center;
}

footer a {
    color: $letters;
}

.footer-address-icon {
    padding-right: 10px;
}

.thead {
    background-color: $green;
    color: $letters;
}

.table {
    text-align: center;
}

.oi-star {
    color: $star;
    border: 10px;
}

.cld {
    text-align: start;
}

.tab-content {
    margin-top: 10px;
}

.navcolor {
    background-color: $green;
    color: $letters;
}